.user {
    background-color: blue;
    color: white;
  }

.headerCell {
    font-weight: normal;
}

table {
    border-spacing: 0;
    border: 1px solid black;
    font-size: 1.2rem;
    font-weight: normal;
}

tr:last-child td {
    border-bottom: 0;
}

th,
td {
    margin: 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

td {
    max-width: fit-content;
}

th:last-child, td:last-child {
    border-right: 0;
}

th input, td input {
    width: 100%;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    border: 0;
}