.grade {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.evaluation, .controllers {
    flex: 1;
}

.date {
    flex: 2;
}

.controllers {
    display: flex;
    justify-content: end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error {
    font-size: 1.5rem;
    color: rgb(221, 101, 101);
}

.comment {
    flex: 2;
    font-size: 1rem;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}