.student {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    font-size: 2rem;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.studentName {
    flex: 50%;
}

.studentRole {
    flex: 30%;
}