.container {
    height: fit-content;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.selectInput {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    background-color: #fff;
    border-radius: 0.8rem;
    color: #000000;
    min-width: fit-content;
    border: none;
}

.content {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input {
    color: #000000;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    min-width: fit-content;
    z-index: 999;
    width: 100%;
}

.inputContainer {
    position: relative;
    z-index: 999;   
}

.input::placeholder, .placeholder {
    color: #BBB7B7;
    font-size: 1rem;
}

.label {
    font-size: 1rem;
    color: #2B2B2B;
    text-transform: uppercase;
}

.searchIcon {
    cursor: pointer;
}

.hints {
    position: absolute;
    width: 100%;
    background: #fff;
    color: #000;
    top: 0;
    padding-top: 2.5rem;
    border-radius: 0.8rem;
    overflow: hidden;
    z-index: -1;
}

.hintsItem {
    cursor: pointer;
    transition: .3s all ease-in;
    padding: 0.2rem 0.5rem;
}

.hintsItem:hover {
    background: #d7d9d9d1;
    overflow: hidden;
}