.container {
    height: fit-content;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.selectContent {
    padding: 0.25rem 0.4rem;
    background-color: #393939;
    border-radius: 2rem;
    /* width: fit-content; */
}

.selectInput {
    padding: 0.6rem;
    font-size: 0.9rem;
    background-color: #1E1E1E;
    border-radius: 2rem;
    color: #fff;
    min-width: fit-content;
}

.content {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input {
    color: #1E1E1E;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    min-width: fit-content;
}

.input::placeholder, .placeholder {
    color: #BBB7B7;
    font-size: 1rem;
}

.label {
    font-size: 1rem;
    color: #2B2B2B;
    text-transform: uppercase;
}

.searchIcon {
    cursor: pointer;
}