.container {
    display: flex;
    flex-direction: column;
    background: inherit;
    gap: 2rem;
    padding: 0.5rem 2rem;
    border: 1px solid #969292aa;
    width: 100%;
}

.header {
    font-size: 1.5rem;
    color: #2B2B2B;
    text-align: center;
}

:root {
    --scrollbarBg: #E8E8E8;
    --scrollbarThumb: #6F8EFF;
    --scrollbarWidth: 0.4rem;
    --scrollbarBorder: 0.05rem solid var(--scrollbarBg);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

.scrollSection {
    font-size: 1.3rem;
    text-align: center;
    overflow: auto;
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
    color: #000000;
    padding-right: 0.2rem;
}

.scrollSection::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}

.scrollSection::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: var(--scrollbarBorderRadius);
}

.scrollSection::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}

.element {
    border-bottom: 1px solid #8F7474;
}