.container {
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background: #DCE7FC;
    gap: 2rem;
    padding: 0.5rem 2rem;
    max-width: fit-content;
    max-height: 80vh;
    min-width: 40vw;
}

.header {
    font-size: 2.5rem;
    color: #2B2B2B;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

:root {
    --scrollbarBg: #E8E8E8;
    --scrollbarThumb: #6F8EFF;
    --scrollbarWidth: 0.4rem;
    --scrollbarBorder: 0.05rem solid var(--scrollbarBg);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

.scrollContainer {
    overflow: auto;
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
    color: #000000;
    padding-right: 0.2rem;
}

.scrollContainer::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}

.scrollContainer::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: var(--scrollbarBorderRadius);
}

.scrollContainer::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}