.student {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    cursor: pointer;
    transition: .3s all ease-in;
    padding: 0.5rem 2rem;
}

.group:hover, .student:hover, .subject:hover {
    background-color: #9cbefd;
}

.subject, .group {
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    transition: .3s all ease-in;
    padding: 0.5rem 2rem;
}

.studentName {
    flex: 50%;
}